.modal{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 300px;
}